h5, h3 {
	margin: 0 5 0 5 !important;
}

.row {
	height: 100%;
	margin: 0px;
}
.col {
	height: 100%;
}

.well{
	padding: 10px !important;
	margin: 0px 0px 5px 0px !important;
}
.panel {
	background-color: transparent;
}
.panel-heading {
    padding: 0px;
}
.panel-title {
	margin-left: 10px;
}
.panel-default {
	margin-bottom: 0px;
}
.panel-collapse.collapse{
    background-color: #f0f0f0;
}

.form-group {
	margin-bottom: 0px;
}
.selectize-control {
	margin-bottom: 0px;
}
.shiny-notification {
	position: fixed;
	top: calc(40%);
	left: calc(40%);
}

#draw {
	margin: 25px 0 5px -15px;
	width : calc(100% + 15px);
}
#export_png {
	position : absolute;
	right: 25px;
	top: 35px;
}